*{box-sizing: border-box;}
.columns {
    float:left;
    width:25%;
    padding: 8px;
    border: 1px solid black;
}

.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
}

.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header {
    background-color: wheat;
    color: black;
    font-size: 25px;
}

.price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}

.price .grey {
    background-color: #eee;
    font-size: 20px;
}

.price .man {
    background-color: lightcyan;
    font-size: 20px;
}

.button {
    background-color: black;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

@media only screen and (max-width: 600px) {
    .columns {
      width: 100%;
    }
}

#space {
    margin-bottom: 2000px;
    border: 1px solid black;
}

#pepsi {
    background: #fff;
    border-radius: 50%;
    height: 220px;
    position: relative;
    width: 220px;
  }
  
  #pepsi * {
    position: absolute;
  }
  
  #pepsi .red1,
  #pepsi .red2,
  #pepsi .red3 {
    background: #ee3a43;
  }
  
  #pepsi .red1 {
    border-radius: 200px 0 0 0;
    clip: rect(0px 200px 79px 0);
    height: 100px;
    left: 10px;
    top: 10px;
    width: 100px;
  }
  
  #pepsi .red2 {
    border-radius: 0 200px 0 0;
    clip: rect(0px 200px 92px 0);
    height: 100px;
    left: 110px;
    top: 10px;
    width: 100px;
  }
  
  #pepsi .red3 {
    border-radius: 161px/117px;
    clip: rect(103px 140px 117px 30px);
    height: 117px;
    left: -17px;
    top: -15px;
    width: 161px;
  }
  
  #pepsi .blue1,
  #pepsi .blue2,
  #pepsi .blue3 {
    background: #016aab;
  }
  
  #pepsi .blue1 {
    border-radius: 0 0 0 200px;
    bottom: 10px;
    clip: rect(8px 200px 100px 0);
    height: 100px;
    left: 10px;
    width: 100px;
  }
  
  #pepsi .blue2 {
    border-radius: 0 0 200px 0;
    bottom: 10px;
    clip: rect(22px 200px 100px 0);
    height: 100px;
    left: 110px;
    width: 100px;
  }
  
  #pepsi .blue3 {
    border-radius: 161px/117px;
    clip: rect(0 132px 15px 29px);
    height: 117px;
    left: 75px;
    top: 118px;
    width: 161px;
  }
  
  #pepsi .white1 {
    background: #ffffff;
    border-radius: 161px/117px;
    clip: rect(0 136px 22px 0);
    height: 117px;
    left: 75px;
    position: absolute;
    top: 81px;
    width: 161px;
  }
  
  #pepsi .white2 {
    background: #ffffff;
    border-radius: 161px/117px;
    clip: rect(95px 136px 117px 0);
    height: 117px;
    left: -17px;
    position: absolute;
    top: 22px;
    width: 161px;
  }
  
  #pepsi .drop {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 26px/30px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    height: 30px;
    opacity: 0.6;
    width: 26px;
  }
  
  #pepsi .drop:before {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0) 100%);
    border-radius: 20px;
    content: "";
    height: 20px;
    left: 4px;
    position: absolute;
    top: 2px;
    width: 18px;
  }
  
  #pepsi .drop:after {
    border-radius: 26px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
    box-shadow: 0 2px 0 #fff;
    content: "";
    height: 24px;
    left: 1px;
    position: absolute;
    top: 3px;
    width: 24px;
  }
  
  #pepsi .drop1 {
    left: 80px;
    top: 80px;
  }
  
  #pepsi .drop2 {
    left: 33px;
    top: 50px;
    transform: scale(0.6);
  }
  
  #pepsi .drop3 {
    left: 150px;
    top: 136px;
    transform: scale(0.7);
  }
  
  #pepsi .drop4 {
    left: 145px;
    top: 169px;
  }
  
  #pepsi .drop5 {
    left: 130px;
    top: 26px;
    transform: scale(0.9);
  }
  
  #pepsi .drop6 {
    left: 50px;
    top: 138px;
    transform: scale(0.7);
  }